* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  margin-top: 50px;
  margin-inline: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  background-color: #865dff;
  border-color: transparent;
  border-radius: 30px;
  color: #e0d9f5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 40px;
  width: 200px;
  height: 70px;
}
.add {
  width: 100px;
  height: 40px;
  border-radius: 15px;
  font-size: 25px;
  margin-top: 10px;
  margin-inline: 750px 0;
}
.inputs {
  display: flex;
  gap: 20px;
}
.btn-secondary {
  border-radius: 30px;
  border-color: transparent;
  background-color: #e0d9f5;
  color: #865dff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 40px;
  width: 200px;
  height: 70px;
}
.btn-icon {
  color: #865dff;
  background-color: transparent;
  outline: none;
  border-color: transparent;
}
.material-icons {
  font-size: 60px;
}
.form {
  margin-top: 20px;
}
.addItem {
  background-color: #f5d6d6;
  border-radius: 10px;
  border-color: transparent;
  width: 400px;
  height: 43px;
  display: flex;
  color: rgb(241, 172, 172);
  align-items: center;
  outline: none;
  font-size: 25px;
  padding: 10px 15px;
}

.action-icons .material-icons {
  font-size: 20px;
  color: #865dff;
}
.moreInfo {
  width: 20px;
  bottom: 50px;
}
.moreInfo:hover {
  .mInfo {
    display: block;
  }
}
.mInfo {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  display: none;
}
.text {
  white-space: nowrap;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  background-color: #e0d9f5;
  color: #865dff;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 400px;
  padding: 10px 15px;
  height: 49px;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  border-color: transparent;
}
.info {
    font-family: "Inter", sans-serif;
    color: #999;
    font-weight: 600;
}
input::placeholder {
  color: rgb(241, 172, 172);
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  header {
    gap: 15px;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .material-icons {
    font-size: 40px;
  }
  .btn-primary {
    border-radius: 20px;
    font-size: 30px;
    width: 140px;
    height: 50px;
  }
  .add {
    width: 110px;
    border-radius: 20px;
    font-size: 30px;
    margin-top: 10px;
    margin-inline: 120px 0;
  }
  input::placeholder {
    font-size: 25px;
  }
  .addItem {
    width: 300px;
    height: 39px;
  }
  .todo-item {
    width: 300px;
    padding: 10px 15px;
    height: 39px;
    font-size: 16px;
  }
  .btn-secondary {
    border-radius: 20px;
    font-size: 30px;
    width: 140px;
    height: 50px;
  }
}
